@font-face {
  font-family: "HK-Grotesk-medium";
  src: url('../../fonts/HKGrotesk-Medium.woff2') format('woff2'), url('../../fonts/HKGrotesk-Medium.woff') format('woff');
}
@font-face {
  font-family: "HK-Grotesk-regular";
  src: url('../../fonts/HKGrotesk-Regular.woff2') format('woff2'), url('../../fonts/HKGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: "HK-Grotesk-light";
  src: url('../../fonts/HKGrotesk-Light.woff2') format('woff2'), url('../../fonts/HKGrotesk-Light.woff') format('woff');
}
