.section-highlights {
  overflow: hidden;
  position: relative;



  .triangles {
    position: absolute;
    width: calc(100% + 40px);
    height: 100%;
    left: -20px;
    top: 0;
    //background: var(--background-color-secondary-alt);
    opacity: 0.15;
    z-index: 400;
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
      width: 50vw;
      height: 100%;
      left: auto;
      top: auto;
      right: 0;
      bottom: 0;
    }


    svg {
      width: 80%;
      height: auto;
      position: absolute;
      right: 0;
      bottom: -8vw;
    }
  }

  .cards-wrapper {
    position: relative;
    z-index: 500;
  }
}
