.modal-form {
  //
}

#modal-form,
#modal-form-home {
  z-index: 7050;

  .modal-content {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }

  .modal-header {
    padding: 0;
    border-bottom: 0px;

    .header-background {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 30px 60px 30px 30px;
      text-align: left;

      .modal-title {
        h3,
        h4,
        h5,
        p {
          font-size: 40px;
          font-weight: 500;
          padding: 0;
          margin: 0;
        }
      }

      .close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .modal-body {
    padding: 30px 50px;
  }
}
