.call-to-action-buttons {
  display: none;

  @include media-breakpoint-up(lg) {
    display: block;
  }

  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 600;

  .apply {
    padding-right: 24px;

    a {
      display: inline-block;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      padding: 9px 28px 10px;
      background: #62E8B9;
      color: #041C3A;
      font-size: 15px;
      text-decoration: none;
      -webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.2);
      box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.2);
      -webkit-transition: $transition ease-in-out;
      -moz-transition: $transition ease-in-out;
      -o-transition: $transition ease-in-out;
      transition: $transition ease-in-out;

      &:hover {
        background: #fff;
        color: #041C3A;
        -webkit-transition: $transition ease-in-out;
        -moz-transition: $transition ease-in-out;
        -o-transition: $transition ease-in-out;
        transition: $transition ease-in-out;
      }
    }
  }

  .call {
    a {
      display: inline-block;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      padding: 9px 28px 10px;
      background: #fff;
      color: #041C3A;
      font-size: 15px;
      text-decoration: none;
      -webkit-box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.2);
      box-shadow: 0px 3px 10px -4px rgba(0,0,0,0.2);

      &:hover {
        background: #62E8B9;
        color: #041C3A;
        -webkit-transition: $transition ease-in-out;
        -moz-transition: $transition ease-in-out;
        -o-transition: $transition ease-in-out;
        transition: $transition ease-in-out;
      }
    }
  }
}

